/*
 Site CSS file

 Validated with http://jigsaw.w3.org/css-validator/validator?uri=http://..../site.css

*/
body {
	margin: 40 40 40 40;
	background:  white;
	font-family: arial, helvetica;
}
a {
	font-weight: bold;
}
a:link {
	text-decoration: none;
}
a:active {
	text-decoration: none;
} 
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.back {
	color: gray;
	font-size: small;
	font-style: italic;
}
td.menu {
	color: silver;
	font-weight: bold;
}
td.menu hr {
	color: #660000;
	width: 20%;
	text-align: left;
}
td.copyright {
	font-size: small;
	color: silver;
}
.sup {
	position: relative;
	bottom: 0.5em;
	font-size: 0.8em;
}
.indented
{
	padding-left: 50pt;
	padding-right: 50pt;
}